<!--
<div class=" col-md-6 col-md-offset-3">
  <h1></h1>
  <image src="${detalhes.imagem}" />

  <div>
      <label for="ano">Ano</label>
      <span id="ano">{{detalhes.ano}}</span>
  </div>

  <div>
      <label for="diretores">Diretores</label>
      <span id="diretores">{{detalhes.diretores}}</span>
  </div>

  <div>
      <label for="escritores">Escritores</label>
      <span id="escritores">{{detalhes.escritores}}</span>
  </div>

  <div>
      <label for="atores">Atores</label>
      <span id="atores">{{detalhes.atores}}</span>
  </div>

  <div>
      <label for="descricao">Descrição</label>
      <span id="descricao">{{detalhes.descricao}}</span>
  </div>

  <div>
      <label for="avaliacao">Avaliação</label>
      <span id="avaliacao">{{detalhes.avaliacao}}</span>
  </div>

<table class="table table-hover">
  <thead>
    <th>Sala</th>
    <th>Horario</th>
    <th>Ações</th>
  </thead>
  <tbody>
      <tr *ngFor="let sessao of sessoes">
        <td>{{sessao.sala.nome}}</td>
        <td>{{sessao.horario}}</td>
        <td>
          <a href="/sessao/${sessao.id}/lugares" class="btn">
            Comprar
            <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
          </a>
        </td>
      </tr>
  </tbody>
</table>
</div>
-->